/bootstrap/compiled.php
/bootstrap/start.php
/bootstrap/environment.php
**/bootstrap/start.php
/vendor
/.idea
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
*/workspace.xml
**/.idea/workspace.xml
